body
{
    margin: 0px;
} 

header
{
    height: 70px;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#logo
{
    width: 60px;
    height: 60px;
}

.default-padding
{
    padding-left: 70px;
    padding-right: 70px;
}

#navbar
{
    display: flex;
}

.nav-item
{
    color: grey;
    text-decoration: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item:hover
{
    color: black;
}

.my-button
{
    background-color: lightslategray;
    color: white;
    border: none;
    width: 120px;
    padding: 15px;
}

#welcome-image
{
    height: 420px;
    background-image: url("../images/2.jpg");
    background-size: cover;
    display: flex;
}

#welcome-content
{
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

#about-section
{
    text-align: center;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
}

#column-section
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.column-3
{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.column-icon
{
    width: 30px;
    height: 30px;
    display: block;
}