body
{
    margin: 0px;
} 

header
{
    height: 70px;
    width: 90%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

#logo
{
    width: 60px;
    height: 60px;
}

.default-padding
{
    padding-left: 70px;
    padding-right: 70px;
}

#navbar
{
    display: flex;
}

.nav-item
{
    color: grey;
    text-decoration: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item:hover
{
    color: black;
}

.my-button
{
    background-color: lightslategray;
    color: white;
    border: none;
    width: 120px;
    padding: 15px;
}

#welcome-image
{
    height: 420px;
    background-image: url("../images/2.jpg");
    background-size: cover;
    display: flex;
}

#welcome-content
{
    display: flex;
    flex-direction: column;
    color: white;
    width: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}

#about-section
{
    text-align: center;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
}

#column-section
{
    display: flex;
    height: 300px;
    /* background-color: aqua; */
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
}

.col-3
{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: burlywood; */
}

#carousel-image
{
    margin: 70px;
    width: 85%;
}

#color-section
{
    height: 250px;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

.col-2
{
    width: 45%;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* background-color: cadetblue; */
}

footer
{
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0;
}

#about-sec
{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-images
{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
}

.about-img
{
    width: 49%;
    height: 300px;
    background-image: url("../images/2.jpg");
    background-size: cover;
}